Click==7.0
elasticsearch==6.4.0
elasticsearch-dsl==6.4.0
Flask==1.1.1
Flask-Cors==3.0.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.4
pandas==0.25.3
py4j==0.10.7
pyspark==2.4.4
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
six==1.13.0
urllib3==1.25.8
Werkzeug==0.16.0
