<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<form class="form-inline" action="/search-address" method="post">
    <div class="form-group">
        <div>
            <span>Please select</span>
            <select name="entities">
                {% for entity in entities %}
                <option value="{{ entity }}">{{ entity }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            PARENT_ID<input type="text" name="parent_id" size="40" placeholder="PARENT_ID">
        </div>
        <div>
            Text<input type="text" name="text" size="40" placeholder="text">
        </div>
        <button type="submit" class="btn btn-default">Go</button>
    </div>
</form>
</body>
</html>